.embla-peek__viewport {
  overflow: hidden;
  width: 100%;
}
.embla-peek__container {
  display: flex;
}
.embla-peek__slide {
  flex: 0 0 340px;
  min-width: 0;
  margin-right: 24px;
}
.embla-peek__slide:last-child {
  margin-right: 0;
}
@media (min-width: 640px) {
  .embla-peek__slide {
    flex: 0 0 380px;
  }
}
@media (min-width: 1024px) {
  .embla-peek__slide {
    flex: 0 0 420px;
  }
} 